html, body { background: #ccc; height: 100%; margin: 0; padding: 0; position: relative; font-family: 'Lato', sans-serif; font-size: 14px; }
input:focus, select:focus { outline:none; }
img { pointer-events: none; }

.slim { scrollbar-width: thin; scrollbar-color: #6fb5c5 #253e46; }
.slim::-webkit-scrollbar { width: 10px; height: 10px; }
.slim::-webkit-scrollbar-track { background-color: #253e46; }
.slim::-webkit-scrollbar-thumb { background-color: #6fb5c5; }

.flex { display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; align-items: center; justify-content: center; }
.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
.select { -webkit-touch-callout: text; -webkit-user-select: text; -khtml-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }

.button { cursor: pointer; background: #111; color: #fff; display: inline-block; padding: 5px 10px; }

.round-sm { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.round-md { -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }
.round-lg { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.s-alert-error { background: #111; color: #fff; }

.half { width: 50%; display: inline-block; box-sizing: border-box; }

.game { background: #ccc; position: fixed; top: 0; left: 0; width: 100%; height: 100%; text-align: center; }
.gamebox { display: inline-block; background: #885530; width: 100%; max-width: 500px; height: 100%; position: relative; z-index: 110; }

.traveling { background: #ccc; position: fixed; top: 0; left: 0; width: 100%; height: 100%; text-align: center; }
.traveling .box { display: inline-block; background: #885530; width: 100%; max-width: 500px; height: 100%; position: relative; z-index: 110; }
#overlay { height: 100%; padding: 28px 0 48px 0; box-sizing: border-box; }
#overlay .box { width: 100%; max-width: 500px; height: 100%; overflow: auto; position: relative; background: #a7a7a7; z-index: 110; text-align: left; }
#overlay .background { width: 100%; height: 33%; background: #5db0d0 url(/assets/bg-village.png) no-repeat center bottom; }

#map { cursor: url('/assets/cursor-walk.png'), auto; background: #885530; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
#map canvas:nth-child(2) { -moz-box-shadow: inset 12px 0 10px 2px rgba(111, 60, 22, 0.4), inset -12px 0 10px 2px rgba(111, 60, 22, 0.4); -webkit-box-shadow: inset 12px 0 10px 2px rgba(111, 60, 22, 0.4), inset -12px 0 10px 2px rgba(111, 60, 22, 0.4); box-shadow: inset 12px 0 10px 2px rgba(111, 60, 22, 0.4), inset -12px 0 10px 2px rgba(111, 60, 22, 0.4); }

#menu { text-align: center; background: #111; }
#top  { height: 28px; line-height: 28px; font-size: 12px; pointer-events: auto; z-index: 1000; position: absolute; top: 0; left: 0; width: 100%; padding: 0 0 0 10px; box-sizing: border-box; background: #2577a9; color: #ffffff; text-align: left; }
#top .time { display: inline-block; }
#top .data { float: right; }
#top .data .coords { display: inline-block; vertical-align: top; }
#top .data .menu-button { height: 28px; line-height: 28px; font-size: 28px; padding: 0 5px; display: inline-block; vertical-align: top; cursor: pointer; }

#login.box { background: none; width: 100%; margin: 0 auto; padding: 0 40px; box-sizing: border-box; }
#login input { -webkit-appearance: none; width: 100%; padding: 12px 10px; margin-bottom: 10px; box-sizing: border-box; border: 1px solid #84662a; background: #fff; color: #222; font-size: 16px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
#login .button { box-sizing: border-box; width: 100%; text-align: center; -webkit-transition: all 0.5s linear; transition: all 0.5s linear; background: rgba(109, 71, 36, 0.6); border: 2px solid #694223; color: #fcffd6; padding: 15px; font-size: 18px; font-weight: 700; margin-bottom: 10px; }
#login .button:hover { background: #6a4423; }
#login .logo { width: 100%; text-align: center; margin-bottom: 10px; }
#login .logo img { width: 100%; max-width: 400px; height: auto; }

.headline { padding: 0px 2px; background: #195261; color: #52b9d2; font-size: 12px; letter-spacing: 0.3px; }
.log { background: #efeded; border-bottom: 1px solid #9e9e9e; color: #585757; }
.leader .amount { float: right; }

.gathering, .production { vertical-align: top; }
.gathering { padding: 2px; background: #1d789a; }

.task { cursor: pointer; padding: 2px; width: 25%; position: relative; display: inline-block; vertical-align: middle; box-sizing: border-box; }
.task .rim { background: rgba(0, 0, 0, 0.2); overflow: hidden; position: relative; }
.task.next .rim .image, .task.next .rim .icon { opacity: .5; }
.task.next .needed { width: 100%; height: 100%; position: absolute; z-index: 10; text-align: center; background: rgba(23, 96, 123, 0.5); color: #d8d8d8; text-transform: uppercase; font-weight: bold; font-size: 10px; letter-spacing: .4px; }
.task .image { width: 100%; vertical-align: top; }
.task .icon { position: absolute; right: 0; bottom: 0; width: 25px; }

.tasks { height: 33%; background: #4c8ba2; padding: 40px 0 0; position: relative; box-sizing: border-box; }
.tasks .half { display: none; }
.tasks .info { position: absolute; top: 0; left: 0; width: 100%; height: 40px; background: rgba(0, 0, 0, 0.15); }

.stalls { height: 100%; padding: 2px; overflow-x: auto; overflow-y: hidden; white-space: nowrap; box-sizing: border-box; }
.stalls .employees { white-space: normal; overflow-y: auto; }
.stall { width: 50%; height: 100%; padding: 2px; display: inline-block; vertical-align: top; box-sizing: border-box; }
.stall .job { position: relative; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); text-align: center; }
.stall .job .square { height: 80%; position: relative; }
.stall .job .square:before { padding-left: 100%; }
.stall .job .square .circle { width: 100%; height: 100%; background: #8ba5ab; cursor: pointer; }
.stall .job .square .circle img { height: 100%; }
.stall .job .square .worker { position: absolute; background: #9bcbd6; width: 60px; height: 60px; top: 0; left: 0; }

.logs { max-height: 300px; overflow-y: auto; }
.logs .log { padding: 1px 2px; }
.logs .log .timestamp { margin-right: 2px; font-size: 11px; font-weight: bold; color: #484848; }

.inventory { z-index: 900; position: absolute; top: 28px; background: #4e3001; padding: 2px; text-align: left; width: 100%; box-sizing: border-box; }
.inventory .toggle { background: #4e3001; position: absolute; bottom: -10px; left: 50%; width: 70px; height: 10px; margin-left: -35px; cursor: pointer; -moz-border-bottom-left-radius: 100%; -webkit-border-bottom-left-radius: 100%; border-bottom-left-radius: 100%; -moz-border-bottom-right-radius: 100%; -webkit-border-bottom-right-radius: 100%; border-bottom-right-radius: 100%; }
.inventory .toggle .line { width: 60%; margin: 0 20%; height: 2px; background: #5f3a00; position: absolute; bottom: 6px; }
.inventory.tucked { padding: 0; }
.inventory.tucked .toggle { display: none; }
.inventory.tucked .box { position: absolute; top: 5px; width: 100%; text-align: center; }
.inventory.tucked .item { width: 40px; }
.inventory.tucked .item .image { background: transparent; }
.inventory.tucked .item .image .name { display: none; }
.inventory.tucked .item .amount { font-size: 10px; text-shadow: -1px 1px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000; background: transparent; position: absolute; top: 27px; padding: 0; width: 40px; text-align: center; }

.storage { height: 34%; background: #6f4e1d; padding: 40px 5px 5px; position: relative; box-sizing: border-box; }
.storage .header { position: absolute; top: 0; left: 0; width: 100%; padding: 2px 5px; box-sizing: border-box; height: 40px; }
.storage .header .headline { color: #d4d4d3; background: #37270e; text-transform: uppercase; font-size: 18px; font-weight: bold; width: 100%; height: 36px; line-height: 36px; padding: 0 5px; box-sizing: border-box; }
.storage .sorts, .storage .filters { display: none; position: absolute; z-index: 50; background: #8a6122; top: 38px; right: 5px; padding: 1px; min-width: 100px; }
.storage .sorts.show, .storage .filters.show { display: inline-block; }
.storage .sort, .storage .filter { cursor: pointer; margin-top: 1px; padding: 2px; background: #50360d; color: #cec4b6; font-size: 16px; }
.storage .filter.clear { text-align: center; background: #37270e; }
.storage .sort:hover, .storage .filter:hover { background: #3c2b12; }
.storage .filter.clear:hover { background: #251803; }
.storage .sort .mdi, .storage .filter .mdi { margin-right: 2px; }
.storage .sort.selected { background: #31220a; }
.storage .buttons { position: absolute; top: 4px; right: 10px; }
.storage .buttons .mdi { display: inline-block; vertical-align: top; font-size: 26px; padding: 0 5px; margin-left: 5px; color: #987848; cursor: pointer; }
.storage .buttons .mdi.selected { background: #58401a; }
.storage .container { height: 100%; overflow-y: auto; padding: 2px; background: rgba(0, 0, 0, 0.5); box-sizing: border-box; }

.storage .slim { scrollbar-width: thin; scrollbar-color: #836e4e #6f4e1d; }
.storage .slim::-webkit-scrollbar-track { background-color: #6f4e1d; }
.storage .slim::-webkit-scrollbar-thumb { background-color: #836e4e; }

.item { cursor: pointer; padding: 2px; width: 14.28%; display: inline-block; vertical-align: middle; box-sizing: border-box; text-align: center; }
.item .image { vertical-align: top; overflow: hidden; position: relative; background: rgba(255, 255, 255, 0.3); }
.item .image img { max-width: 100%; vertical-align: middle; }
.item .amount { text-align: right; padding: 1px 4px; background: #969696; color: #fff; }
.item .name, .task .name { display: none; z-index: 20; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; text-transform: uppercase; font-weight: bold; font-size: 10px; letter-spacing: .4px; padding: 4px 5px; box-sizing: border-box; color: #e2e2e2; background: rgba(0, 0, 0, 0.5); overflow: hidden; text-align: center; }
.item .name .inside, .task .name .inside { width: 100%; height: 100%; }
.item:hover .name, .task:hover .name { display: block; }
.task:hover .needed { display: none; }
.item.uncommon .amount { background: #1db739; }
.item.rare .amount { background: #1764c7; }
.item.epic .amount { background: #5c2d8e; }
.item.legendary .amount { background: #d88300; }

#skills, .hiring, .queue, .logs { display: none; }

.leader { background: #b7b7b7; border-bottom: 1px solid #ababab; color: #4a4a4a; padding: 2px; }
.leader .name { display: inline-block; }

.queue { position: relative; height: 30px; background: #777; border-bottom: 1px solid #777; color: #333; }
.queue .progress { z-index: 10; height: 30px; position: absolute; top: 0; left: 0; background: #b5b5b5; }
.queue .text { z-index: 20; text-align: center; width: 100%; height: 30px; line-height: 30px; position: absolute; top: 0; left: 0; }
.queue .award.hide { visibility: hidden; }
.queue .award { visibility: visible; animation-name: rising; animation-timing-function: linear; transform-origin: center bottom; animation-duration: 1s; animation-fill-mode: both; position: absolute; z-index: 100; top: 0; width: 100%; text-align: center; }
@keyframes rising {0% {top:0px;} 50% {opacity: 1;} 100% {top:-50px; opacity: 0;}}

.prospects { padding: 3px; background: #4ca28e; }

.employees { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 5px; box-sizing: border-box; background: #264551; }

.worker { cursor: pointer; padding: 3px; width: 50%; display: inline-block; vertical-align: top; box-sizing: border-box; }
.worker .inside { min-height: 50px; background: #fff; overflow: hidden; position: relative; }
.worker .data { font-size: 0; width: 100%; padding: 1px 1px 1px 35px; box-sizing: border-box; }
.worker .avatar {  position: absolute; top: 0; left: 0; margin-left: -15px; width: 50px; display: inline-block; vertical-align: top; background: #fff; }
.worker .name { font-size: 12px; display: inline-block; vertical-align: top; width: 100%; padding: 5px; background: #386971; color: #fff; letter-spacing: 0.1px; text-align: center; box-sizing: border-box; }
.worker .queue { margin-top: 2px; height: 19px; }
.worker .queue .text { height: 20px; line-height: 20px; }
.worker .queue .progress { height: 20px; }
.worker .skill { display: inline-block; margin: 2px 0 0 0; width: 50%; }
.prospects .worker .skill { width: auto; }
.worker .skill .icon { width: 24px; padding: 2px; display: inline-block; vertical-align: middle; }
.worker .skill .amount { display: inline-block; vertical-align: middle; padding: 2px 5px; font-size: 14px; }

.cities { position: absolute; bottom: 48px; left: 0; width: 100%; z-index: 100; background: rgba(40, 120, 189, 0.9); color: #fff; }
.cities .city { height: 26px; line-height: 26px; border-bottom: 1px solid rgba(255, 255, 255, 0.06); }
.cities .city span { display: inline-block; vertical-align: middle; margin: 0 3px; }
.cities .city .name { font-weight: bold; font-size: 16px; }
/* .cities .city .name { width: 80px; overflow: hidden; text-overflow: ellipsis; margin-right: 10px; } */

.visit { position: absolute; bottom: 0; left: 0; z-index: 100; width: 100%; text-align: center; font-size: 0; }
.visit .checkbox { margin-left: 10px; display: inline-block; vertical-align: middle; }
.visit .checkbox .mdi { color: #2f562b; font-size: 48px; height: 48px; line-height: 48px; cursor: pointer; display: inline-block; vertical-align: middle; }
.visit .checkbox .mdi.lit { color: #57ce4b; }
.visit .button { width: 100%; box-sizing: border-box; display: inline-block; vertical-align: top; padding: 15px 20px; background: #33b76f; color: rgba(0, 0, 0, 0.6); font-weight: bold; font-size: 16px; }
.visit .button.stop { background: #ca3131; width: 50%; }
.visit .button.visiting { cursor: default; background: #33b1b7; width: 100%; }
.visit .button.camping { cursor: default; background: #e2803b; width: 100%; }
.visit .button.next { background: #309045; width: 50%; }
.visit .button.next.lit { background: #30d253; }

@media ( max-width:600px ) {
    #menu { 
        overflow: hidden;
        height: 26px;
    }
}