html, body { background: #ccc; height: 100%; margin: 0; padding: 0; position: relative; font-family: 'Lato', sans-serif; font-size: 14px; }
input:focus, select:focus { outline:none; }
img { pointer-events: none; }

.slim::-webkit-scrollbar { width: 10px; height: 10px; }
.slim::-webkit-scrollbar-track { background-color: #253e46; -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
.slim::-webkit-scrollbar-thumb { background-color: #6fb5c5; }

.flex { display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; align-items: center; justify-content: center; }
.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
.select { -webkit-touch-callout: initial; -webkit-user-select: initial; -khtml-user-select: initial; -moz-user-select: initial; -ms-user-select: initial; user-select: initial; }

.button { cursor: pointer; background: #111; color: #fff; display: inline-block; padding: 5px 10px; }

.round-sm { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.round-md { -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }
.round-lg { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.s-alert-error { background: #111; color: #fff; }

.half { width: 50%; display: inline-block; box-sizing: border-box; }

#full, .traveling { height: 100%; background: #ccc; }
#full .box, .traveling .box { width: 100%; max-width: 500px; height: 100%; position: relative; background: #a7a7a7; z-index: 110; }
.traveling .box { display: inline-block; background: #885530; }
#full.map .box { background: none; pointer-events: none; }
.traveling { position: absolute; top: 0; left: 0; width: 100%; height: 99%; text-align: center; }
/*
// turned off for test
#full .box { margin: auto; }
*/

#map { background: #885530; }
#map canvas:nth-child(2) { -moz-box-shadow: inset 12px 0 10px 2px rgba(111, 60, 22, 0.4), inset -12px 0 10px 2px rgba(111, 60, 22, 0.4); -webkit-box-shadow: inset 12px 0 10px 2px rgba(111, 60, 22, 0.4), inset -12px 0 10px 2px rgba(111, 60, 22, 0.4); box-shadow: inset 12px 0 10px 2px rgba(111, 60, 22, 0.4), inset -12px 0 10px 2px rgba(111, 60, 22, 0.4); }

#menu { text-align: center; background: #111; }
#top { pointer-events: auto; }
.time { height: 20px; line-height: 20px; text-align: center; font-size: 11px; background: #a7a7a7; }

#login.box { width: 100%; margin: 0 auto; padding: 0 40px; box-sizing: border-box; }
#login input { -webkit-appearance: none; width: 100%; padding: 12px 10px; margin-bottom: 10px; box-sizing: border-box; border: 1px solid #84662a; background: #fff; color: #222; font-size: 16px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
#login .button { box-sizing: border-box; width: 100%; text-align: center; -webkit-transition: all 0.5s linear; transition: all 0.5s linear; background: rgba(109, 71, 36, 0.6); border: 2px solid #694223; color: #fcffd6; padding: 15px; font-size: 18px; font-weight: 700; margin-bottom: 10px; }
#login .button:hover { background: #6a4423; }
#login .logo { width: 100%; text-align: center; margin-bottom: 10px; }
#login .logo img { width: 100%; max-width: 400px; height: auto; }

.skill, .item, .task { padding: 2px; }
.headline { padding: 0px 2px; background: #195261; color: #52b9d2; font-size: 12px; letter-spacing: 0.3px; }
/* blue colored .skill { background: #bee0f9; border-bottom: 1px solid #8bb1ce; color: #326a94; } */
.skill, .item, .log, .worker { background: #efeded; border-bottom: 1px solid #9e9e9e; color: #585757; }
.task { cursor: pointer; padding: 5px 2px; font-weight: bold; text-align: center; background: #7bde8c; border-bottom: 1px solid #55bb67; color: #2c843b; }
.task:hover { background: #3ba54d; border-bottom: 1px solid #2a6f36; color: #caffd3; }
.skill .amount, .item .amount, .leader .amount { float: right; }
.task .amount { margin-left: 5px; font-size: 12px; font-weight: normal; }

.logs { max-height: 300px; height: 100%; overflow-y: auto; }
.logs .log { padding: 1px 2px; }
.logs .log .timestamp { margin-right: 2px; font-size: 11px; font-weight: bold; color: #484848; }

.item .name { font-weight: bold; }
.item.uncommon .name { color: #1db739; }
.item.rare .name { color: #1764c7; }
.item.epic .name { color: #5c2d8e; }
.item.legendary .name { color: #d88300; }

.leader { background: #b7b7b7; border-bottom: 1px solid #ababab; color: #4a4a4a; padding: 2px; }
.leader .name { display: inline-block; }

.queue { position: relative; height: 30px; background: #777; border-bottom: 1px solid #777; color: #333; }
.queue .progress { z-index: 10; height: 30px; position: absolute; top: 0; left: 0; background: #b5b5b5; }
.queue .text { z-index: 20; text-align: center; width: 100%; height: 30px; line-height: 30px; position: absolute; top: 0; left: 0; }
.queue .award.hide { visibility: hidden; }
.queue .award { visibility: visible; animation-name: rising; animation-timing-function: linear; transform-origin: center bottom; animation-duration: 1s; animation-fill-mode: both; position: absolute; z-index: 100; top: 0; width: 100%; text-align: center; }
@keyframes rising {0% {top:0px;} 50% {opacity: 1;} 100% {top:-50px; opacity: 0;}}

.worker { cursor: pointer; padding: 1px 2px; }
.worker.employee { padding: 2px; background: #c2dbe8; }

.cities { position: absolute; bottom: -1%; left: 0; width: 100%; z-index: 100; background: rgba(40, 120, 189, 0.9); color: #fff; }
.cities .city { padding: 2px; border-bottom: 1px solid rgba(255, 255, 255, 0.06); }
.cities .city span { display: inline-block; vertical-align: middle; }
.cities .city .name { font-weight: bold; font-size: 16px; margin: 0 2px; }
/* .cities .city .name { width: 80px; overflow: hidden; text-overflow: ellipsis; margin-right: 10px; } */

.visit { position: absolute; bottom: 20px; right: 10px; z-index: 100; text-align: right; }
.visit .checkbox { margin-left: 10px; display: inline-block; vertical-align: middle; }
.visit .checkbox .mdi { color: #2f562b; font-size: 48px; height: 48px; line-height: 48px; cursor: pointer; display: inline-block; vertical-align: middle; }
.visit .checkbox .mdi.lit { color: #57ce4b; }
.visit .button { display: inline-block; vertical-align: middle; padding: 15px 20px; background: #33b76f; color: #3a3a3a; font-weight: bold; font-size: 16px; }
.visit .button.stop { background: #ca3131; }
.visit .button.visiting { cursor: default; background: #33b1b7; }
.visit .button.camping { cursor: default; background: #e2803b; }
.visit .button.next { background: #309045; margin-left: 5px; }
.visit .button.next.lit { background: #30d253; }

@media ( max-width:600px ) {
    #full .box {
        max-width: none;
    }
    #menu { 
        overflow: hidden;
        height: 26px;
    }
}